.btn-arrow {
    position: relative;
    display: flex;
    gap: 12rem;
    width: max-content;
    overflow: hidden;
    font: var(--button-l);

    &__icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32rem;
        height: 32rem;
        border-radius: 50%;
        background: var(--color-primary-light-green);

        position: relative;
        overflow: hidden;
        transition: background 0.3s;

        &:hover {
            background: var(--color-primary-hover);
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 6rem;
            height: 10rem;
            background-image: url("../img/svgicons/arrow-right.svg");
            background-size: contain;
            background-repeat: no-repeat;
            transition: transform 0.3s ease;
        }

        &::before {
            transform: translateX(-30rem);
        }

        &::after {
            transform: translateX(0);
        }
    }

    &__text {
        display: flex;
        align-items: center;
        position: relative;

        .text-main,
        .text-overlay {
            white-space: nowrap;
            position: relative;
            transition: transform 0.3s ease;
        }

        .text-overlay {
            transform: translate(-86rem, 40rem);
        }
    }

    &:hover {
        cursor: pointer;

        .btn-arrow__icon-box::before {
            transform: translateX(0);
        }
        .btn-arrow__icon-box::after {
            transform: translateX(30rem);
        }
        .btn-arrow__text .text-main {
            transform: translateY(-40rem);
        }
        .btn-arrow__text .text-overlay {
            transform: translate(-86rem, 0);
        }
    }

    &.withoutText {
        .btn-arrow__text {
            display: none;
        }
    }
}

/* states */
.btn-arrow [disabled] {
    opacity: 0.24;
    pointer-events: none;
}
