.about-benefits {
    display: flex;
    flex-direction: column;
    padding: 144rem 56rem;
    background: var(--color-black);
    color: var(--color-white);

    &__header {
        margin-bottom: 64rem;
    }

    &__items {
        display: flex;
        gap: 368rem;

        &:nth-child(2) {
            justify-content: end;
            margin-bottom: 80rem;
        }
    }

    &__item {
        width: 304rem;
        border-top: 1rem solid var(--color-primary-green);

        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8rem;
        }

        &-title {
            color: var(--color-primary-green);
            margin-top: 32rem;
        }
        &-lable {
            font: var(--font-body-m-b);
            color: var(--color-primary-green);
            margin-top: 16rem;
        }
    }
}
