.about-shareholders {
    &__title {
        width: 1200rem;
        margin-bottom: 64rem;
    }

    &__card {
        display: flex;

        &-info {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-right: 64rem;

            p {
                margin-bottom: 8rem;
                color: var(--color-gray-800);
            }
        }

        &-subtitle {
            position: relative;
            display: flex;
            margin-top: 64rem;
            margin-bottom: 32rem;
            color: var(--color-primary-green);
            &-icon {
                width: 24rem;
                height: 24rem;
                margin-right: 12rem;
            }
        }

        &-title {
            margin-bottom: 56rem;
        }

        &-banner {
            width: 720rem;
            height: 666rem;
        }
    }
}
