.about {
    display: flex;
    padding: 0 54rem 0 0;

    &__banner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 776rem;
        height: 600rem;
        padding: 56rem;
        color: var(--color-white);

        .decorative {
            margin-bottom: 16rem;
        }

        &-img {
            position: absolute;
            inset: 0;
            z-index: -1;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        padding-left: 64rem;
        padding-right: 0;
    }

    &__title {
        margin-bottom: 40rem;
        letter-spacing: -1rem;
    }

    &__text {
        margin-bottom: 16rem;
    }
}
