html {
    font-size: calc(100vw / 1440);

    @include smallDevices($sm) {
        // font-size: calc(100vw / 360);
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    backface-visibility: hidden;
    text-rendering: geometricPrecision;
    font: var(--font-body-m);
    color: var(--color-black);
    padding: 8rem;

    @include smallDevices($sm) {
        font: var(--font-body-m-mobile);
    }
}

body::before {
    content: "";
    display: block;
    height: 8rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99;
}

#preloader {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    opacity: 1;
    z-index: 100;
}

.section {
    position: relative;
    padding: 0 56rem;
    margin-bottom: 144rem;

    &-banner {
        position: relative;
        overflow: hidden;
        border-radius: 14px;

        img {
            @include imageCover(center);
        }
    }
}

.hr {
    width: 100%;
    height: 1rem;
    background-color: var(--color-gray-400);
    opacity: 0.32;
    margin-bottom: 32rem;
}

.word {
    opacity: 0.2;
}
