.home-hero {
    height: 500vh;

    &__wrapper {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 8rem);
        min-height: 600rem;
        background: var(--color-black);
        text-align: center;
        z-index: 0;
        overflow: hidden;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
    }

    &__top-btn {
        position: relative;
        font: var(--font-body-m);
        padding: 12rem 16rem 13rem 48rem;
        margin-bottom: 16rem;
        color: var(--color-primary-green);
        background: var(--color-primary-black);
        border-radius: 100rem;

        &::before {
            content: "";
            position: absolute;
            top: 14rem;
            left: 16rem;
            width: 24rem;
            height: 24rem;
            background-image: url("../img/svgicons/leaf.svg");
            background-repeat: no-repeat;
        }
    }

    &__title {
        margin-bottom: 32rem;
        color: var(--color-primary-light2-green);
        letter-spacing: -3rem;
    }

    &__subtitle {
        color: var(--color-primary-light2-green);
        font: var(--font-body-xl);
    }

    &__skip-btn {
        position: absolute;
        bottom: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        font: var(--font-button-m);
        color: var(--color-primary-light-green);
        z-index: 1;

        &-icon {
            width: 24rem;
            height: 24rem;
        }
    }

    #home-hero-lottie {
        position: absolute;
        inset: 0;
        z-index: -1;
    }
}

.plant {
    &-container {
        position: absolute;
        inset: 0;
        pointer-events: none;
    }
    &-wrapper {
        height: 100vh;
    }
    &-frame {
        position: absolute;
        bottom: -130px;
        left: 0;
        width: 100%;
        height: 350px;
        object-fit: contain;
    }
}
