.home-blogs {
    display: flex;
    flex-direction: column;

    &__header {
        margin-bottom: 64rem;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 368rem;
        padding: 32rem;
        color: var(--color-black);
        border: 1rem solid var(--color-gray-300);
        overflow: hidden;

        &:hover {
            color: var(--color-white);
        }
        &:hover .btn-arrow__icon-box {
            background: var(--color-white);
        }
        &-img {
            position: absolute;
            inset: 0;
            @include imageCover(center);
            opacity: 0;
            transition: opacity var(--transition-duration) var(--transition-easing);
            z-index: -1;
        }

        &:hover .home-blogs__card-img {
            opacity: 1;
        }

        &.bg-gray {
            background: var(--color-gray-300);
            transition: background var(--transition-duration) var(--transition-easing);

            &:hover {
                background: var(--color-black);
            }
        }
        &-title {
            margin-bottom: 8rem;
            font: var(--font-body-xl);
            letter-spacing: -1rem;
        }

        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-date {
            font: var(--font-body-s);
        }
    }
}
