.home-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 8rem);
    padding: 165rem 172rem 40rem;
    background: var(--color-black);
    text-align: center;
    z-index: 0;
    overflow: hidden;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        transition: height 1s, opacity 3s;
    }

    &__top-btn {
        position: relative;
        font: var(--font-body-m);
        padding: 12rem 16rem 13rem 48rem;
        margin-bottom: 16rem;
        color: var(--color-primary-green);
        background: var(--color-primary-black);
        border-radius: 100rem;

        &::before {
            content: "";
            position: absolute;
            top: 12rem;
            left: 16rem;
            width: 24rem;
            height: 24rem;
            background-image: url("../img/svgicons/leaf.svg");
            background-repeat: no-repeat;
        }
    }

    &__title {
        margin-bottom: 32rem;
        color: var(--color-primary-light2-green);
        letter-spacing: -3rem;
    }

    &__subtitle {
        color: var(--color-primary-light2-green);
        font: var(--font-body-xl);
        margin-bottom: 64rem;
    }

    &__start-btn,
    &__skip-btn {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        font: var(--font-button-m);
        color: var(--color-primary-light-green);
        z-index: 1;

        img {
            width: 24rem;
            height: 24rem;
        }
    }
    &__skip-btn {
        opacity: 0;
        transition: opacity 3s;
    }

    #lottie-animation {
        position: absolute;
        inset: 0;
        z-index: -1;
    }
}

.plant {
    position: absolute;
    bottom: -100rem;
    left: 0;
    width: 100%;
    height: 40%;
    object-fit: contain;
    transition: all 1s ease-in-out;

    &-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 672rem;
        margin-top: 20px;
        pointer-events: none;
    }

    &-wrapper {
        height: 620rem;
    }
}
