.home-blogs {
    display: flex;
    flex-direction: column;

    &__header {
        margin-bottom: 64rem;
        display: flex;
    }

    &__subtitle {
        position: relative;
        padding-left: 36rem;
        margin: 13rem 186rem 0 0;
        white-space: nowrap;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 24rem;
            height: 24rem;
            background-image: url("../img/svgicons/techinovation-icon.svg");
            background-repeat: no-repeat;
        }
    }

    &__title {
        width: 700rem;
    }

    &__cards {
        display: flex;
        gap: 32rem;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 416rem;
        height: 368rem;
        padding: 32rem;
        color: var(--color-white);
        border: 1rem solid var(--color-gray-300);

        &.black {
            color: var(--color-black);
        }

        &.bg-gray {
            background: var(--color-gray-300);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            @include imageContain(center);
            z-index: -1;
        }

        &-lables {
            display: flex;
            justify-content: space-between;
            font: var(--font-body-s);

            img {
                width: 48rem;
                height: 48rem;
            }
        }

        &-title {
            margin-bottom: 8rem;
            font: var(--font-body-xl);
            letter-spacing: -1rem;
        }

        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-date {
            font: var(--font-body-s);
        }
    }
}
