<!-- @@btnStyle:
    "btn" for primary
    "white" for white button
    "big" for bigger button

    Example: include('./components/buttons/action-btn.html', {"lableText": "Go back", "btnStyle": "btn", "href": "/index.html"})
-->

<a class="@@btnStyle" href="@@href" data-modal-open="#investor-modal">
    <span class="btn__bg"></span>
    <span class="btn__labels">
        <span class="btn__labels-item">@@lableText</span>
        <span class="btn__labels-item">@@lableText</span>
        <span class="btn__labels-item">@@lableText</span>
    </span>
</a>
