.border-animation {
    &:before {
        box-sizing: border-box;
        transform: translateX(100%);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
    }

    &:after {
        box-sizing: border-box;
        transform: translateX(-100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
    }

    &:hover {
        color: inherit;
        text-decoration: none;

        &:before {
            transition: 0.1s transform linear, 0.1s height linear 0.1s;
            transform: translateX(0);
            height: 100%;
            border-color: var(--color-primary-green);
        }
        &:after {
            transition: 0.1s transform linear 0.2s, 0.1s height linear 0.3s;
            transform: translateX(0);
            height: 100%;
            border-color: var(--color-primary-green);
        }
    }
}
