.border-animation {
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
        box-sizing: border-box;
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        z-index: 1;
    }

    &:before {
        transform: translateX(100%);
        height: 2px;
        bottom: 0;
        left: 0;
        border-bottom: 3px solid var(--color-primary-green);
        border-left: 3px solid var(--color-primary-green);
    }

    &:after {
        transform: translateX(-100%);
        height: 2px;
        top: 0;
        left: 0;
        border-top: 3px solid var(--color-primary-green);
        border-right: 3px solid var(--color-primary-green);
    }

    &.active {
        &:before {
            transform: translateX(0%);
            transition: transform 2s linear, height 2s linear 2s;
            height: 100%;
        }

        &:after {
            transform: translateX(0%);
            transition: transform 2s linear 4s, height 2s linear 6s;
            height: 100%;
        }
    }
}
