.action-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480rem;
    padding-top: 90rem;
    background: var(--color-black);
    text-align: center;
    z-index: 0;

    &__logo {
        width: 32rem;
        height: 32rem;
        margin-bottom: 16rem;
    }

    &__title {
        width: 640rem;
        color: var(--color-white);
        letter-spacing: -1rem;
        margin-bottom: 32rem;
    }

    #beans-lottie,
    #leafs-lottie {
        position: absolute;
        top: 0;
        height: 100%;
    }
    #beans-lottie {
        left: 0;
    }
    #leafs-lottie {
        right: 0;
    }
}
