.header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 48rem);
    margin: 24rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16rem;
    border: 1rem solid #113036;
    border-radius: 8px;
    background: var(--color-black);
    color: var(--color-white);
    z-index: 10;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &__logo {
        display: inline-block;
        width: 135rem;
        height: 36rem;
    }

    &__nav {
        font: var(--button-m);
        display: flex;
        gap: 56rem;
    }

    .action-wrapper {
        display: flex;
        align-items: center;
    }

    &.sticky {
        position: fixed;
        top: 0;
        transform: translateY(0);
        opacity: 1;
    }

    &.hidden {
        transform: translateY(-100%);
        opacity: 0;
    }
}
