.header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 16rem);
    margin: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16rem 24rem;
    border-radius: 8px;
    background: var(--color-black);
    color: var(--color-white);
    z-index: 10;

    .logo {
        display: inline-block;
        width: 135rem;
        height: 36rem;
    }

    &__nav {
        font: var(--button-m);
        display: flex;
        gap: 56rem;
    }

    .action-wrapper {
        display: flex;
        align-items: center;
    }

    .custom-select {
        position: relative;
        width: 41rem;
        height: 21rem;
        margin-right: 32rem;
    }

    .custom-select select {
        display: block;
        width: 100%;
        font: var(--button-m);
        background-color: transparent;
        color: #fff;
        cursor: pointer;
    }
}
